{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block page_title %}
  Signup
{% endblock %}

{% block content %}
<section class="container d-flex flex-column mt-5">
    <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Sign up</h1>
                        <span>
                            Already have an account?
                            <a href="{% url 'login'%}" class="ms-1"> Sign In </a>
                        </span>
                    </div>
                    <form class="needs-validation" method="Post">
                        {% csrf_token %} 
                        {% comment %} <div class="mb-3">
                            <label for="full_name" class="form-label"> Full Name </label>
                            <input type="text" id="email" class="form-control" name="full_name" placeholder="John Doe" required />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label"> Email Address </label>
                            <input type="email" id="email" class="form-control" name="email" placeholder="johndoe@gmail.com" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"> Password </label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="**************" required />
                        </div>

                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirm Password </label>
                            <input type="password" id="password" class="form-control" name="password2" placeholder="**************" required />
                        </div> {% endcomment %}
                        {{form | crispy}}

                        <div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Sign Up <i class="fas fa-user-plus ms-2"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
