{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    Appointments
{% endblock %}

{% block content %}    
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">

            {% include "doctor/sidebar.html" %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Appointment Detail #12345</h4>
                <div class="card mb-4">
                    <div class="shadow border p-3 mb-4 rounded-4">
                        <p>
                            <a>
                            <p><span class="fw-semibold text-dark">Appointment ID:</span> #{{appointment.appointment_id}}</p>
                            <p><span class="fw-semibold text-dark">Service:</span> {{appointment.service}}</p>
                            <p><span class="fw-semibold text-dark">Patient:</span> {{appointment.patient}}</p>
                            <p><span class="fw-semibold text-dark">Issue:</span> {{appointment.issues}}</p>
                            <p><span class="fw-semibold text-dark">Symptoms:</span> {{appointment.symptoms}}</p>
                            <p><span class="fw-semibold text-dark">Status:</span> {{appointment.get_status_display}}</p>
                            <p><span class="fw-semibold text-dark">Date:</span> {{appointment.appointment_date}}</p>
                                <p>
                                    <span class="fw-semibold text-dark">Action:</span>
                                    {% if appointment.status == appointment.APPOINTMENT_STATUS_SCHEDULED %}

                                        <form action="{% url 'doctor:appointment-cancel' appointment.appointment_id %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                                Cancel Appointment <i class="fas fa-trash ms-2"></i>
                                            </button>
                                        </form>
                                        
                                        <form action="{% url 'doctor:appointment-completed' appointment.appointment_id %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-success btn-sm ">
                                                Complete Appointment <i class="fas fa-check-circle ms-2"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                    
                                    {% if appointment.status == appointment.APPOINTMENT_STATUS_CANCELLED %}
                                        <form action="{% url 'doctor:appointment-activate' appointment.appointment_id %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-warning btn-sm">
                                                Activate Appointment <i class="fas fa-check ms-2"></i>
                                            </button>
                                        </form>
                                    {% endif %}

                                    {% if appointment.status == appointment.APPOINTMENT_STATUS_COMPLETED %}
                                        <a href="#" class="btn btn-outline-success btn-sm">Completed <i class="fas fa-circle ms-2"></i></a>
                                    {% endif %}
                                </p>
                            </a>
                        </p>
                    </div>
                </div>

                <div id="medical-report">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 mb-4 fw-bold">Medical Reports</h4>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedicalReport" aria-expanded="false" aria-controls="collapseMedicalReport">Add Medical Report <i class="fas fa-plus ms-2"></i></button>
                    </div>
                    <div class="collapse" id="collapseMedicalReport">
                        <div class="border p-3 mb-4 rounded-4">
                            <form action="{% url 'doctor:medical-record-create' appointment.appointment_id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="form-control mb-3" name="diagnosis" placeholder="Diagnosis" />
                                <input type="text" class="form-control mb-3" name="treatment" placeholder="Treatment" />
                                <button type="submit" class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                            </form>
                        </div>
                    </div>
                    
                    
                    <div class="card mb-4">
                        <div class="border p-3 mb-4 rounded-4">
                                {% for medical_record in medical_records %}
                                    <div class="shadow p-3 rounded-4 mb-3">
                                        <p><span class="fw-semibold text-dark">Diagnosis:</span> {{medical_record.diagnosis}}</p>
                                        <p><span class="fw-semibold text-dark">Treatment:</span> {{medical_record.treatment}}</p>
                                        <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedicalRecord{{medical_record.id}}" aria-expanded="false" aria-controls="collapseMedicalRecord{{medical_record.id}}">Edit <i class="fas fa-edit ms-2"></i></button>
                                        <div class="collapse mt-3" id="collapseMedicalRecord{{medical_record.id}}">
                                            <div class="border p-3 rounded-4">
                                                <form action="{% url 'doctor:medical-record-update' appointment.appointment_id medical_record.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="text" class="form-control mb-3" value="{{medical_record.diagnosis}}" name="diagnosis" placeholder="Diagnosis" />
                                                    <input type="text" class="form-control mb-3" value="{{medical_record.treatment}}" name="treatment" placeholder="Treatment" />
                                                    <button type='submit' class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}    
                                    <p>No medical records</p>
                                {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="lab-test">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 mb-4 fw-bold">Labs Tests Reports</h4>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLabTest" aria-expanded="false" aria-controls="collapseLabTest">Add Lab Test <i class="fas fa-plus ms-2"></i></button>
                    </div>
                    <div class="collapse" id="collapseLabTest">
                        <div class="border p-3 mb-4 rounded-4">
                            <form action="{% url 'doctor:lab-test-create' appointment.appointment_id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="form-control mb-3" name="test_name" placeholder="Test name" />
                                <input type="text" class="form-control mb-3" name="description" placeholder="Description" />
                                <textarea name="result" class="form-control" id="" placeholder="Lab Result"></textarea>
                                <button type="submit" class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="border p-3 mb-4 rounded-4">
                            {% for lab_test in lab_tests %}
                            <div class="shadow p-3 rounded-4 mb-3">
                                <p><span class="fw-semibold text-dark">Test Name:</span> {{lab_test.test_name}}t</p>
                                <p><span class="fw-semibold text-dark">Description:</span> {{lab_test.description}}</p>
                                <p><span class="fw-semibold text-dark">Result:</span> {{lab_test.result | default:"Not added yet"}}</p>
                                <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLabTest{{lab_test.id}}" aria-expanded="false" aria-controls="collapseLabTest{{lab_test.id}}">Edit <i class="fas fa-edit ms-2"></i></button>
                                <div class="collapse mt-3" id="collapseLabTest{{lab_test.id}}">
                                    <div class="border p-3 rounded-4">
                                        <form action="{% url 'doctor:lab-test-update' appointment.appointment_id lab_test.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="text" class="form-control mb-3" value="{{lab_test.test_name}}" name="test_name" placeholder="Test name" />
                                            <input type="text" class="form-control mb-3" value="{{lab_test.description}}" name="description" placeholder="Description" />
                                            <textarea name="result" class="form-control" id="" placeholder="Lab Result">{{ lab_test.result }}</textarea>

                                            <button type="submit" class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <p>No lab tests</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <h4 class="mb-0 mb-4 fw-bold">Prescription</h4>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrescription" aria-expanded="false" aria-controls="collapsePrescription">Add Prescription <i class="fas fa-plus ms-2"></i></button>
                </div>
                <div class="collapse" id="collapsePrescription">
                    <div class="border p-3 mb-4 rounded-4">
                        <form action="{% url 'doctor:prescription-create' appointment.appointment_id %}" method="POST">
                            {% csrf_token %}
                            <textarea class="form-control mb-3" name="medications" placeholder="Medications"></textarea>
                            <button class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="border p-3 mb-4 rounded-4">
                        {% for prescription in prescriptions %}
                            <div class="shadow p-3 rounded-4 mb-3">
                            
                                <p><span class="fw-semibold text-dark">Medications:</span> {{prescription.medications}}</p>
                                <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrescription{{prescription.id}}" aria-expanded="false" aria-controls="collapsePrescription{{prescription.id}}">Edit <i class="fas fa-edit ms-2"></i></button>
                                <div class="collapse mt-3" id="collapsePrescription{{prescription.id}}">
                                    <div class="border p-3 rounded-4">
                                        <form action="{% url 'doctor:prescription-update' appointment.appointment_id prescription.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="text" class="form-control mb-3" name="medications" value="{{prescription.medications}}" placeholder="Medications" />
                                            <button type='submit' class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No prescriptions</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
