{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    Notifications
{% endblock %}

{% block content %}    
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">

            {% include "doctor/sidebar.html" %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Notification</h4>
                <ul class="list-group list-group-flush">
                    {% for notification in notifications %}
                        <li class="list-group-item p-2 shadow rounded-3 mb-3">
                            <div class="d-flex">
                                <div class="ms-3 mt-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="mb-0 fs-5">{{notification.get_type_display }}</p>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p class="mt-1">
                                            <span class="me-2 fw-bold"> Date: <span class="fw-light">{{notification.date}}</span> </span>
                                        </p>
                                        <p>
                                            <form method="post"action="{% url 'doctor:notification-seen' notification.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                                    Mark as Seen<i class="fas fa-inbox ms-2"></i>
                                                </button>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
