<div class="col-lg-3 col-md-4 col-12">
    <nav class="navbar navbar-expand-md shadow-sm mb-4 mb-lg-0 sidenav border rounded">
        <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold text-decoration-none text-dark p-3" href="#"> Menu </a>
        <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light m-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-grid"></span>
        </button>

        <div class="collapse navbar-collapse p-3" id="sidenav">
            <div class="navbar-nav flex-column">
                <div class="d-flex align-items-center mb-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg" alt="avatar" class="rounded-circle avatar-xl" style="width: 70px; height: 70px; object-fit: cover" />
                    <div class="ms-3">
                        <h5 class="mb-0 fw-bold">{{request.user.patient.full_name }}</h5>
                        <p class="mb-1 fs-6">Patient ID: #{{request.user.patient.id }}</p>
                    </div>
                </div>
                <ul class="list-unstyled ms-n2 mb-4">
                    <li class="nav-item">
                        <a class="dropdown-item nav-link" href="{% url 'patient:dashboard' %}"><i class="bi bi-grid-fill"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link" href="{% url 'patient:appointment-list' %}"><i class="fas fa-calendar"></i> Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link" href="{% url 'patient:payments' %}"><i class="fas fa-credit-card"></i> Billing</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link" href="{% url 'patient:dashboard' %}"><i class="fas fa-bell"></i> Notification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patient:dashboard' %}"> <i class="fas fa-edit"></i> Edit Profile </a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link border-0 bg-transparent text-danger">
                                <i class="fas fa-sign-out-alt"></i> Sign Out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>